<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>register</title>
</head>
<body>
<form action="/register" method="post">
    手机号：<input type="text" name="moile">
    密码：<input type="password" name="pwd">
  <input type="submit" value="注册">
</form>
</body>
</html>
